{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">The hidden type represents a hidden input field.<br /><br />For a complete reference you should refer to the <a href="https://symfony.com/doc/3.4/reference/forms/types/hidden.html">Symfony HiddenType documentation</a>.</p>

    {{ docs.heading('h2', 'Dependencies') }}

    <p>Your form builder will need to include the <a href="https://symfony.com/doc/3.4/reference/forms/types/hidden.html">HiddenType</a>.</p>

<pre><code lang="php">use Symfony\Component\Form\Extension\Core\Type\HiddenType;
</code></pre>

    {{ docs.heading('h2', 'Basic usage') }}

<pre><code lang="php">$builder->add('basic', HiddenType::class, [
    'label' => 'My label'
]);</code></pre>

    {{ docs.heading('h2', 'Options') }}

    <table class="table table--full">
        <tbody>
            <tr>
                <td>Inherited options</td>
                <td>
                    <ul>
                        <li>data</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Pulsar attributes</td>
                <td>
                    <ul>
                        <li>attr.data-group-class</li>
                        <li>attr.data-guidance-html</li>
                        <li>attr.data-guidance-text</li>
                        <li>attr.data-help-html</li>
                        <li>attr.data-help-text</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    {{ docs.heading('h2', 'Inherited options') }}

</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#dependencies">Dependencies</a></li>
        <li><a href="#basic-usage">Basic usage</a></li>
        <li><a href="#options">Options</a></li>
        <li><a href="#inherited-options">Inherited options</a>
            <ul>
                
            </ul>
        </li>
    </ul>
{% endblock tab_sidebar %}
