h1.docs-heading, 
h2.docs-heading, 
h3.docs-heading, 
h4.docs-heading, 
h5.docs-heading, 
h6.docs-heading {
    // clear: both;
    color: #333;
    // float: left;
    font-weight: bold;
    width: 100%;

    a {
        color: #ccc;
        text-decoration: none;
        border-bottom: 1px dotted #ccc;
    }
}

h2.docs-heading {
    font-size: 1.75em;
    margin-top: 48px;

    &:first-child {
        margin-top: 0;
    }

    .lede + & {
        margin-top: 24px;
    }
}

h3.docs-heading {
    font-size: 1.5em;
    margin-top: 48px;
}

h2.docs-heading + h3.docs-heading {
    margin-top: 0;
}

h4.docs-heading {
    font-size: 1.25em;
}

pre {
    // clear: both;
}

code {
    background-color: #efefef;
    // clear: both;
    color: #000;
    padding: 3px 5px;
    border-radius: 4px;
}

.page-nav {
    ul {
        margin-bottom: 0;
    }

    li {
        list-style-type: none;
    }

    li ul {
        margin-left: 20px;
    }

    a {
        color: color(link);

        &:hover {
            color: color(text);
        }
    }
}

.title--main {
    margin-bottom: 0;
}

.lede {
    border-bottom: 3px double #efefef;
    font-size: 1.2em;
    font-family: georgia;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 24px;

    + p {
        margin-top: 24px;
    }
}

.d-columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.d-column {
    width: 49%;
}

.swatches {
    display: table;
}

.swatch {
    display: table-row;
    width: 100%;
}

.swatch__text,
.swatch__label {
    display: table-cell;
    padding: 5px 10px;
    text-align: left;
    width: 50%;
}

.swatch__label {
    font-size: $font-size-small;
    font-family: $font-family-monospace;
    text-align: right;
}

@each $name, $palette in $colors {
    @each $variant, $value in $palette {
        @if $variant != 'alt' {
            .swatch--#{$name}-#{$variant} {
                background-color: color($name, $variant);
                color: pick_best_color(color($name, $variant), (#fff, #000));

                .swatch__label {
                    color: pick_best_color(color($name, $variant), (#fff, #000));
                }
            }
        }
    }
}

.g-row {
    float: left;
    clear: both;
    width: 100%;
}

.report {
    overflow: auto;
}

blockquote {
    border-left: 4px solid color(border);
    padding-left: 20px;
}

figure > img {
    width: 100%;
    max-width: 800px;
}

.docs-title {
    color: #3e4994;
    font-family: $font-family-light;
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

.docs-subtitle {
    margin-bottom: $line-height-base * 2;
    text-align: center;
}

.landing-blocks {
    margin-bottom: $line-height-base;
    
    @include respond-min($screen-tablet) {
        align-content: stretch;
        display: flex;
        justify-content: space-evenly;
    }
}

.landing-block {
    flex-grow: 1;
    margin: 0 .5% $line-height-base .5%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @include respond-min($screen-tablet) {
        width: 33%;
    }

    .landing-block__header {
        color: #3e4994;
        font-weight: 800;
        font-size: 28px;
        margin-bottom: 5%;
    }

    .landing-block__detail {
        margin-bottom: $line-height-base;
    }
}

.motto {
    background-color: color(background, light);
    border: 0;
    border-bottom: 3px double #ccc;
    border-top: 3px double #ccc;
    color: color(gray, dark);
    font-size: 48px;
    font-family: bookmania, serif;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    margin: 0 -20px $line-height-base -20px;
    padding: .5em 0 0 0;
    text-align: center;

    cite {
        display: block;
        color: color(text, light);
        font-size: $font-size-small;
        width: 100%;
    }
}

.subheading {
    color: #3e4994;
    font-weight: 300;
    margin-top: -10px;
}

.btn--docs {
    border-color: #3e4994;
    color: #3e4994 !important;
}