{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">We automatically gather browser information from Continuum platform users to inform which browsers we design and test for.</p>

    {{ docs.heading('h2', 'Supported browsers') }}

    <p>These are the browsers we recommend testing on when developing the Continuum platform based upon a combination of analytics data and our contractual obligations to customers.</p>

    <p>Browsers not listed may still work well, and it should be noted that this is not a list that intends to suggest that these are the only browsers the service will work on – this is simply a benchmark for testing against to ensure that the Continuum platform will likely work for as many users as possible alongside appropriate cost-effectiveness and development overhead.</p>

    <p>‘Compliant’ means that the visual presentation of a given UI should be broadly similar to the other compliant browsers (though some differences are to be expected).</p>

    <table class="table table--full">
      <thead>
        <tr>
          <th scope="col">Operating system</th>
          <th scope="col">Browser</th>
          <th scope="col">Support</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <tr>
          <td rowspan="4">Windows</td>
          <td>Internet Explorer 11</td>
          <td>Compliant</td>
        </tr>
        <tr>
          <td>Edge (latest versions)</td>
          <td>Compliant</td>
        </tr>
        <tr>
          <td>Google Chrome (latest versions)</td>
          <td>Compliant</td>
        </tr>
        <tr>
          <td>Mozilla Firefox (latest versions)</td>
          <td>Compliant</td>
        </tr>
        <tr>
          <td rowspan="3">MacOS</td>
          <td>Safari 12+</td>
          <td>Compliant</td>
        </tr>
        <tr>
          <td>Google Chrome (latest versions)</td>
          <td>Compliant</td>
        </tr>
        <tr>
          <td>Mozilla Firefox (latest versions)</td>
          <td>Compliant</td>
        </tr>
        <tr>
          <td rowspan="2">iOS</td>
          <td>Mobile Safari (latest versions)</td>
          <td>Compliant</td>
        </tr>
        <tr>
          <td>Google Chrome (latest versions)</td>
          <td>Compliant</td>
        </tr>
        <tr>
          <td rowspan="2">Android</td>
          <td>Google Chrome (latest versions)</td>
          <td>Compliant</td>
        </tr>
        <tr>
          <td>Samsung Internet (latest versions)</td>
          <td>Compliant</td>
        </tr>
      </tbody>
      <caption>Last updated 26/03/2020 14:54pm</caption>
    </table>

    {{ docs.heading('h2', 'Testing with assistive technologies') }}

    <p>User interfaces and components should be tested with a selection of assistive device to check they are appropriately interactive. When using screen reader software you should use the keyboard as the primary input method.</p>

    <table class="table table--full">
      <thead>
        <tr>
          <th scope="col">Software</th>
          <th scope="col">Version</th>
          <th scope="col">Type</th>
          <th scope="col">Browser</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dragon NaturallySpeaking</td>
          <td>15 or later</td>
          <td>Speech recognition</td>
          <td>Internet Explorer 11</td>
        </tr>
        <tr>
          <td>NVDA</td>
          <td>2016 or later</td>
          <td>Screen reader</td>
          <td>Mozilla Firefox (latest versions</td>
        </tr>
        <tr>
          <td>VoiceOver</td>
          <td>7.0 or later</td>
          <td>Screen reader</td>
          <td>Safari on OSX and iOS 10</td>
        </tr>
        <tr>
          <td>JAWS</td>
          <td>15 or later</td>
          <td>Screen reader</td>
          <td>Internet Explorer 11</td>
        </tr>
      </tbody>
    </table>
        
</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#supported-browsers">Supported browsers</a></li>
        <li><a href="#testing-with-assistive-technologies">Testing with assistive technologies</a></li>
    </ul>
{% endblock tab_sidebar %}