{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">This roadmap represents a high-level overview of areas which we are currently planning on working on within Pulsar.</p>

    {{ docs.heading('h2', 'GitHub roadmap') }}

    <div class="card u-margin-bottom--large">
        <div class="card__body">
            <h3 class="card__title">Pulsar Roadmap</h3>
            <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/48px-Octicons-mark-github.svg.png" alt="GitHub logo" class="u-vertical-align-middle" /> High-level overview of planned areas of work for the Pulsar design system.</p>
            <a href="https://github.com/jadu/pulsar/projects/5" class="btn btn--primary">Open Roadmap</a>
        </div>
    </div>

    <p>Jadu’s statements regarding its plans, directions and intent are subject to change at Jadu’s discretion.</p>
    <p>Information mentioned regarding potential future products is not a commitment or promise to deliver any material, code or functionality.</p>
    <p>The development, release, and timing of any future features or functionality described for our products remains at our sole discretion.</p>


</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#github-roadmap">GitHub roadmap</a></li>
    </ul>
{% endblock tab_sidebar %}