{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">A basic helper to render a list of breadcrumb links. A view should set a <code>breadcrumbs</code> object which will then be rendered by the base template.</p>
    
    {{ docs.heading('h2', 'Basic usage') }}

    {{ docs.example({ 
        screenreader: "My Action, Button",
        twig: "
{%
    set breadcrumbs = [
        {'label': 'foo', 'href': '#foo'},
        {'label': 'bar', 'href': '#bar'},
        {'label': 'baz', 'href': '#baz'}
    ]
%}

{{ nav.breadcrumbs(breadcrumbs|default) }}
    " }) }}
    
</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#basic-usage">Basic usage</a></li>
    </ul>
{% endblock tab_sidebar %}
