{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">Used by other helpers to add a small icon which should allow that item to be removed and uses data-attributes to contain information about what object should be removed.</p>
    
    {{ docs.heading('h2', 'Basic usage') }}

    {{ docs.example({ 
        screenreader: "Remove, Button",
        twig: "
{{
    html.remove_button({
        'target': '#itemToRemove'
    })
}}
    " }) }}

{{ docs.heading('h2', 'Helper options') }}

<p>You can configure this helper using the <a href="../guides/using-helpers#common-options">common helper options</a>, the following options are specific to this helper.</p>

<table class="table table--full">
    <thead>
        <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>target</code></td>
            <td>string</td>
            <td>Selector of the item to be removed, will be turned into the <code>data-action-target</code> attribute</td>
        </tr>
        <tr>
            <td><code>type</code></td>
            <td>string</td>
            <td>Type type of button to create, can be <code>button</code> (default), <code>link</code>, <code>input</code> or <code>submit</code></td>
        </tr>
    </tbody>
</table>
    
</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#basic-usage">Basic usage</a></li>
        <li><a href="#helper-options">Helper options</a></li>
    </ul>
{% endblock tab_sidebar %}
