{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}

<h1 class="docs-title">Pulsar</h1>
<h2 class="docs-subtitle">the design system for the Jadu platform</h2>

<div class="landing-blocks">
    <div class="landing-block">
        <div class="landing-block__content">
            <h3 class="landing-block__header">About Pulsar</h3>
            <p class="landing-block__detail">Pulsar provides a common framework, tools and documentation to help designers and developers build user interfaces within the Jadu platform.</p>
            
            {{
                html.button({
                    'label': 'Get Started',
                    'class': 'btn--outline btn--docs',
                    'href': '/guides/getting-started',
                    'type': 'link'
                })
            }}
        </div>

        <img class="landing-block__illustration" src="/views/home/img/hero_1.svg" />
    </div>

    <div class="landing-block">
        <div class="landing-block__content">
            <h3 class="landing-block__header">Designed for Jadu</h3>

            <p class="landing-block__detail">Components are designed with accessibility, usability and responsiveness in mind, providing additional features requiring as little configuration as possible.</p>

            {{
                html.button({
                    'label': 'Components',
                    'class': 'btn--outline btn--docs',
                    'data-toggle-nav': '#components'
                })
            }}
        </div>

        <img class="landing-block__illustration" src="/views/home/img/hero_2.svg" />
    </div>

    <div class="landing-block">
        <div class="landing-block__content">
        
            <h3 class="landing-block__header">Collaborate</h3>

            <p class="landing-block__detail">We welcome any feedback and ideas on how to improve the design system. If you are interested in contributing you can check out our contribution guidelines or report an issue.</p>

            {{
                html.button({
                    'label': 'View on GitHub',
                    'class': 'btn--outline btn--docs',
                    'href': 'https://github.com/jadu/pulsar',
                    'type': 'link'
                })
            }}
        </div>

        <img class="landing-block__illustration" src="/views/home/img/hero_3.svg" />
    </div>
</div>

<blockquote class="motto">
    Design is the conscious effort to<br />impose a meaningful order
    <cite>Victor Papanek, 1974</cite>
</blockquote>
{% endblock tab_content %}