{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">Generates a hidden text input which can be used to store non user-editable data.</p>

    <p>All presentational markup and classes will be removed from this input to prevent it from affecting the form layout. There is no need to supply a label.</p>

    {{ docs.heading('h2', 'Basic usage') }}

    {{ docs.example({
        preview: false,
        twig: "
{{
    form.hidden({
        'id': 'hidden-1',
        'name': 'hidden-1',
        'value': 'horcrux'
    })
}}
    " }) }}
    
    {{ docs.heading('h2', 'Helper options') }}

    <p>You can configure this helper using the <a href="../guides/using-helpers#common-options">common helper options.</a></p>

</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#basic-usage">Basic usage</a></li>
        <li><a href="#helper-options">Helper options</a></li>
        <li><a href="#disabled-input">Disabled input</a></li>
    </ul>
{% endblock tab_sidebar %}
