{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">Group a series of related buttons together on a single line. Great for creating toolbars.</p>
    
    {{ docs.heading('h2', 'Basic usage') }}

    {{ docs.example({ 
        screenreader: "Foo, button<br />⇥ Bar, button<br />⇥ Baz, button",
        twig: "
{{
    html.button_group({
        'buttons': [
            html.button({ 'label': 'Foo' }),
            html.button({ 'label': 'Bar' }),
            html.button({ 'label': 'Baz' })
        ]
    })
}}
    " }) }}

{{ docs.heading('h2', 'Helper options') }}

<p>You can configure this helper using the <a href="../guides/using-helpers?tab=common-options">common helper options</a>, the following options are specific to this helper.</p>

<table class="table table--full">
    <thead>
        <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>buttons</code></td>
            <td>array</td>
            <td>An array of <a href="button">button</a> elements</td>
        </tr>
    </tbody>
</table>
    
</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#basic-usage">Basic usage</a></li>
        <li><a href="#helper-options">Helper options</a></li>
    </ul>
{% endblock tab_sidebar %}
