{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">Give feedback to the user that something is happening or that information is being retrieved from the server.</p>

    <p>Adding the hide class will allow you to place the loading markup in the DOM on pageload for you to toggle with javascript.</p>
    
    {{ docs.heading('h2', 'Basic usage') }}

    {{ docs.example({ 
        twig: "
{{ html.loading() }}
    " }) }}

    {{ docs.heading('h2', 'Helper options') }}

    <p>You can configure this helper using the <a href="../guides/using-helpers#common-options">common helper options</a>, the following options are specific to this helper.</p>

</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#basic-usage">Basic usage</a></li>
        <li><a href="#helper-options">Helper options</a></li>
    </ul>
{% endblock tab_sidebar %}
